*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    size: 62.5%;
}

/* ===================================================================== */
/* Animações */

.scale-in-top {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 10s 1s 5 cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}
/* ================================================================================== */

/* animação da logo do rick and morty */
.vibrate-3 {
    -webkit-animation: vibrate-3 1s linear 30;
    animation: vibrate-3 1s linear 30;
}

@-webkit-keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
/* =============================================================================== */

/* animação da imagem de fundo */
.kenburns-right {
    -webkit-animation: kenburns-right 3s 1s 2;
    animation: kenburns-right 3s 1s 5;
}

@-webkit-keyframes kenburns-right {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 50%;
        transform-origin: 84% 50%;
    }

    100% {
        -webkit-transform: scale(1.25) translateX(20px);
        transform: scale(1.25) translateX(20px);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}

@keyframes kenburns-right {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 50%;
        transform-origin: 84% 50%;
    }

    100% {
        -webkit-transform: scale(1.25) translateX(20px);
        transform: scale(1.25) translateX(20px);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}
/* ============================================================================ */

/* estilização do header */
header {
    background-color: white;
    width: 100vw;
    height: 40vh;
}

header img {
    width: 3rem;
    height: 3rem;
}

header button {
    border: none;
    background-color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* ============================================================================= */

/* estilização do botao de pesquisar e titulo*/
#pesquisar {
    width: 40rem;
    height: 1.9rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: transparent;
}

input:focus-visible {
    outline: none;
}

.button1 {
    display: flex;
    padding: 1.2rem;
    gap: 0.6rem;
    align-items: center;
    color: #105718;
    border: 1px solid black;
    height: 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 14.8rem;
}

.button1 i {
    display: flex;
    border: none;
    height: 2rem;
    border-radius: 5px;
    margin-top: 17px;
}

h1 {
    color: #105718;
    font-size: 4.1rem;
}

/* ============================================================================================ */
/* estilização dos cards e do background */

img {
    width: 100vw;
}

body {
    background-color: #252525;
}

.card {
    border: 0.1rem solid #469145;
    margin-top: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 89%;
    width: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
}

.card-body h2 {
    margin-left: 1.5rem;
    /* font-size: 1rem; */
}

.textCard {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-left: 1.4rem;
    justify-content: center;
}

/* texto dos cards */

.pTitulo {
    margin-left: 0.2rem;
    margin-top: 0.7rem;
    /* font-size: 1rem; */
}

p {
    margin: 0;

}

.buttonPages {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
    padding: 0.1rem;
}

.buttonPages li {
    margin: 0.5rem;
}

.statusColor {
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 5px;

}

.stausGreen {
    background-color: #56CD42;

}

.statusRed {
    background-color: #CD4242;
}

.stausGray {
    background-color: #BBBBBB;
}

.pTextStatus {
    display: flex;
    align-items: center;
    /* margin-bottom: 0.1rem; */
    margin-left: 1.5rem;

}

/* ============================================================================================ */
/* estilização do footer */
footer {
    background-color: #151916;
    height: 14rem;
    width: 100vw;
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ptext {
    margin-top: 5rem;
}

.divCreditos {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
}

.ptext,
.divCreditos {
    color: #469145;
}

span {
    color: white;
}
